@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
body {
    background-color: lightgrey;
}
#navBar{
    position: relative;
    background-color:rgb(133, 136, 146);
    position: relative;
    background-repeat: no-repeat;
    height: 80px;
    width: 100vw;
    left: 5px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.377);
    left:-8px;
    border-radius: 3px;
    top:-8px;
}

#nav-bar-container {
    display: inline-grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-column-gap:3px;
    
    width:250px;
    height: auto;
    text-align: center;
    float:right;
    padding-top: 10px;
    /*background-color: blue;*/
}
.nav {
    font-family: 'Sawarabi Mincho',Arial;
    /*border: solid 1px black;*/
    border-radius: 5px;
    margin: 2px;
    padding: 3px;
    text-align: center;
    font-size: 12px;
    width: 100px;
    height:auto;
    
    background-color:rgb(25, 17, 95);
}
    #nav-grid:hover {
        position: relative;
        /*box-shadow:3px 3px 8px black;*/
        
    }

    #mainContainer{
        font-family:'Sawarabi Mincho',arial;
        display:block;
        background-color: tan;
        width:100%;
        height: auto;
        text-indent: 20px;
        padding: 6px;
        border-radius: 5px;
    }
    #gridContainer{
        display:grid;
        position: relative;
        grid-template-columns: auto auto auto; 
    }
    #aboutMe{
        font-size: 20px;
    }