@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
@import url('https://fonts.googleapis.com/css?family=Bitter');
body {
    background-color: lightgrey;
}
#navBar{
    position: relative;
    background-color:rgb(133, 136, 146);
    height: 90px;
    width: 100vw;
    left: 5px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.377);
    left:-8px;
    border-radius: 3px;
    top:-8px;
}

#nav-bar-container {
    display: inline-grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-column-gap:3px;
    width:250px;
    height: auto;
    text-align: center;
    float:right;
    bottom: -50px;
    /*background-color: blue;*/ 
}
.nav {
    font-family: 'Sawarabi Mincho',Arial;
    /*border: solid 1px black;*/
    border-radius: 5px;
    margin: 2px;
    padding: 3px;
    text-align: center;
    font-size: 12px;
    width: 100px;
    height:auto;
    
    background-color:rgb(212, 205, 142);
}
.nav:hover{
 transform: scale(1.2) rotate(3deg);
 box-shadow: 5px 5px 6px black;
 font-family: 'Bitter',Arial;
 border-left:solid blue 15px;
 transition: all .5s;
 cursor: pointer;
}
    
 